.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;

  margin: 8px 0 32px;
  padding: 15px 20px 15px;
  border: 1px solid #838383;
  width: 100%;
  box-sizing: border-box;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
  margin-bottom: 32px;
  width: 100%;
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border: none;
}

.form__button:hover {
  background-color: #3f96f3;
  opacity: 70%;
}

.form__fieldset {
  border-style: none;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 0;
}
