.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-color: #fff;
  background-size: cover;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 568px;
  top: 124px;
  right: 5px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times, serif;
  font-style: italic;
  font-weight: normal;
  color: #3f96f3;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
  z-index: 2;
}

.header__description {
  display: block;
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", Times, serif;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  z-index: 2;
}

.header__footer {
  box-sizing: border-box;
  display: flex;
  margin-top: auto;
  align-items: end;
  width: 100%;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 40px 80px;
  font-weight: 500;
  color: #6f6f6f;
}
.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
