.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  padding: 100px 0 215px 80px;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
}

.recipes__subtitle {
  box-sizing: border-box;
  max-width: 438px;
  margin-top: 0;
  margin-bottom: 80px;
  font-family: "Noto Serif", Times, serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.recipes__video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__iframe {
  border: 0;
  padding: 0;
  width: 480px;
  height: 273px;
  margin: 0;
}

.recipes__video-caption {
  margin: 24px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  width: 480px;
}
